/* общие стили для всего документа */
body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 26px;
    line-height: 42px;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #c7c7c7;
}

header {
    position: fixed;
    width: 100%; 
    height: 54px;
    background-color: #051F5D;
    color: #B6C0E3;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 123px;
    box-sizing: border-box;
}

button {
    width: 224px;
    height: 44px;
    background-color: #051F5D;
    color: #B6C0E3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.46), inset 0px 4px 4px rgba(255, 255, 255, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin: 5px; 
}

button:hover {
    background-color: #040F2A;
}

button:active {
    background-color: #020A14;
}
