<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Russo+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>Document</title>

	<style>
		.team {
			background: linear-gradient(107deg, #63B605 6.41%, #15FCA0 100%);
		}
	</style>
</head>
<body>
	<header class="header">
		<div class="container ">
			<a href="{{ url_for('index') }}"><img class="logo" src="{{ url_for('static', filename='imgs/full_logo.png') }}" alt=""></a>
			<nav class="nav menu">
				<a href="{{ url_for('solutions') }}" class="nav-item">Решения</a>
				<a href="#" class="nav-item">Отзывы</a>
				<a href="#" class="nav-item">Новости</a>
				<a href="{{ url_for('about') }}" class="nav-item">О нас</a>
				<a href="gpt.html" class="nav-item">GPT</a>
			</nav>
			</nav>
			<div class="burger-menu-btn">
				<div class="b1"></div>
				<div class="b2"></div>
				<div class="b3"></div>			
			</div>
			<div class="burger-menu none">
				<div class="crest"></div>
				<a href="solutions.html" class="burger-item">Решения</a>
				<a href="#" class="burger-item">Отзывы</a>
				<a href="#" class="burger-item">Новости</a>
				<a href="about.html" class="burger-item">О нас</a>
				<a href="gpt.html" class="burger-item">GPT</a>
			</div>
		</div>
	</header>
	<section class="team">
		<div class="container team-section">
			<div class="l"><img src="static/imgs/team.png" alt=""></div>
			<div class="r">
				<h2>Мониторинг проекта в режиме реального времени</h2>
				<p>Смотрите статус проекта в режиме реального времени и выявляйте узкие места до того, как они станут проблемой.</p>
				<p>С ProjectEye вы сможете легко отслеживать ход реализации проекта, выявлять узкие места и эффективно взаимодействовать с заинтересованными сторонами. </p>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container footer-section">
			<div class="row">
				<div class="c">
					<h3>ProjectEye</h3>
					<p>Ваш надежный партнёр в мире технологий. Мы предоставляем высококачественные решения и консультации.</p>
				</div>
				<div class="c big">
					<div class="t">Контактная информация:</div>
					<div class="t">Адрес: улица Сафиуллина 30, Казань, Россия</div>
					<div class="t">Телефон: +7 (800) 700-83-23</div>
					<div class="t">Email: info@projecteye.ru</div>
				</div>
				<div class="c n">
					<a class="t" href="#">Наши решения</a>
					<a class="t" href="#">Отзывы</a>
					<a class="t" href="#">Новости</a>
					<a class="t" href="about.html">О нас</a>
				</div>
				<div class="c small">
					<div class="t">Контактная информация:</div>
					<div class="t">Адрес: улица Сафиуллина 30, Казань, Россия</div>
					<div class="t">Телефон: +7 (800) 700-83-23</div>
					<div class="t">Email: info@projecteye.ru</div>
				</div>
			</div>
			<div class="row">
				<div class="pravo">© 2023 projecteye.ru Все права защищены.</div>
				<div class="soc-links">
					<a href="#" class="link"><img src="/imgs/vk.png" alt=""></a>
					<a href="#" class="link"><img src="/imgs/tg.png" alt=""></a>
					<a href="#" class="link"><img src="/imgs/wp.png" alt=""></a>
				</div>
			</div>
		</div>
	</footer>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>